<md-toolbar class="header" md-theme="altTheme" layout="row" layout-wrap>
	<div flex="100" flex-gt-sm="30" flex-offset="0" flex-offset-gt-sm="20" layout="column" layout-align="center center">
		<img-circular src="images/de-niro.jpg" default-height="400px"></img-circular>
		<div layout="row"  hide-gt-sm>
			<h2>José Iván Moreno</h2>
		</div>
            
		<div layout="row" hide-gt-sm>
			<md-button class="md-fab md-primary" md-theme="mainTheme" alt="Download my cv">
				<md-icon>file_download</md-icon>
			</md-button>
			<md-button class="md-fab md-primary"  md-theme="altTheme" aria-label="FAB">
				<md-icon>settings</md-icon>
			</md-button>
            <md-button class="md-fab" aria-label="FAB">
				<md-icon>settings</md-icon>
			</md-button>
		</div>
	</div>
	<div hide-sm hide-xs flex="40" layout="column" layout-align="center start">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<code>
                        <strong>[<green>ivan</green><yellow>@josmorsoft</yellow>]$</strong> about<br>
                        Soy Ingeniero en informática. Actualmente trabajo como Desarrollador Front-End
                        en Dinamic Área. Soy un gran apasionado de las nuevas tecnologías
                    </code>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</md-toolbar>
<!--
    <md-toolbar class="header" md-theme="altTheme" layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="30" flex-offset="0" flex-offset-gt-sm="20" layout="column" layout-align="center center">
        <img src="./images/de-niro.jpg" width="75%"/>
    </div>
    <div flex="50" layout="column" layout-align="center start">
        <div layout="row"><h2>José Iván Moreno</h2></div>
        <div layout="row"><h2>José Iván Moreno</h2></div>
        <div layout="row"><h2>José Iván Moreno</h2></div>
        
    </div>
</md-toolbar>
-->